
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-8">
            <form class="form_main" (ngSubmit)="addDepartment()">
                <p class="heading">Agregar Departamento</p>
                <div class="inputContainer">
                <input name="departamento1" [(ngModel)]="regDepartment.departamento1" placeholder="Departamento" class="inputField" type="text" >
                </div> 
                <div class="inputContainer">
                    <input name="descripcion" [(ngModel)]="regDepartment.descripcion" placeholder="Descripcion" class="inputField" type="text" >
                </div>  
            <button id="button">Agregar</button>
            </form>
        </div>
    </div>
</div>
