<div class="container-fluid">
    <div class="row">
        <div class="col-1">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-11">
            <h1 class="text-center"><b>PROVEEDORES</b></h1>
            <div class="mb-3">
                <button (click)="Agregar()" class="btn btn-danger" >AGREGAR(+)</button>
            </div>
    
        <div>
            <table class="table text-center">
                <thead>
                <tr>
                    <th>Razon Social</th>
                    <th>RFC</th>
                    <th>Alias</th>
                    <th>Correo</th>
                    <th>Celular</th>
                    <th>Ciudad</th>
                    <th>Calle</th>
                    <th>Colonia</th>
                    <th>Acciones</th>

                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of dataSource">
                    <td *ngIf="data.baja === 0">{{ data.razonSocial }}</td>
                    <td *ngIf="data.baja === 0">{{ data.rfc }}</td>
                    <td *ngIf="data.baja === 0">{{ data.alias }}</td>
                    <td *ngIf="data.baja === 0">{{ data.correo }}</td>
                    <td *ngIf="data.baja === 0">{{ data.celular }}</td>
                    <td *ngIf="data.baja === 0">{{ data.ciudad }}</td>
                    <td *ngIf="data.baja === 0">{{ data.calle }}</td>
                    <td *ngIf="data.baja === 0">{{ data.colonia }}</td>
                    <td *ngIf="data.baja === 0">
                    <button class="btn btn-warning" (click)="Editar(data)">Editar</button>
                    <button class="btn btn-danger" (click)="Eliminar(data.id)" >Eliminar</button>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>