<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="container">
    <div class="sidebar">
      <div class="user-account">
        <img src="../../../assets/images/logo.png" alt="logo" />
        <h2>SweetDreams</h2>
      </div>
      <ul class="links">
        <h4>Menu Principal</h4>
        <li [routerLink]="item.router" *ngFor="let item of linksMenu">
          <i class="{{item.icono}}"></i>
          <a>{{item.nombre}}</a>
        </li>
        
      </ul>
    </div>
  </div>
