<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,600&display=swap" rel="stylesheet">
<div class="container" id="filosofia">
<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <nav class="about">
            <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                <button class="nav-link fw-semi-bold active" id="nav-story-tab" data-bs-toggle="tab"
                    data-bs-target="#nav-story" type="button" role="tab" aria-controls="nav-story"
                    aria-selected="true">Historia</button>
                <button class="nav-link fw-semi-bold" id="nav-mission-tab" data-bs-toggle="tab"
                    data-bs-target="#nav-mission" type="button" role="tab" aria-controls="nav-mission"
                    aria-selected="false">Misión</button>
                <button class="nav-link fw-semi-bold" id="nav-vision-tab" data-bs-toggle="tab"
                    data-bs-target="#nav-vision" type="button" role="tab" aria-controls="nav-vision"
                    aria-selected="false">Visión</button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-story" role="tabpanel"
                aria-labelledby="nav-story-tab">
                <div class="container">
                <div class="row">
                    <div class="col-6">
                        <p class="historia">SweetDreams comenzó como un pequeño negocio familiar con una pasión compartida por la repostería y el amor por los pays. La fundadora, Isabella, siempre disfrutó preparando deliciosos pays para su familia y amigos en las ocasiones especiales. Con el tiempo, su reputación por elaborar pays exquisitos creció, y las personas comenzaron a hacer pedidos personalizados para eventos y celebraciones.</p>
                        <p class="historia">Con el deseo de compartir sus creaciones con el mundo y llevar la alegría de sus pays a más personas, Isabella decidió establecer SweetDreams en 2010. Lo que comenzó en una pequeña cocina casera rápidamente se convirtió en un exitoso negocio local. A través del boca a boca y el apoyo de clientes satisfechos, DeliPays se ha expandido y convertido en una referencia en el mercado de pays, ofreciendo una amplia variedad de sabores y opciones creativas.</p>
                    </div>
                    <div class="col-3">
                        <img class="empresa" src="../../../assets/images/empresa.jpg" alt="SweetDreams">
                    </div>
                    <div class="col-3">
                        <img class="empresa" src="../../../assets/images/empresa2.jpg" alt="SweetDreams">
                    </div>
                </div>
                </div>
            </div>
        
        <div class="tab-pane fade" id="nav-mission" role="tabpanel"
                aria-labelledby="nav-mission-tab">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-6">
                            <img class="empresa" src="../../../assets/images/mision.jpg" alt="SweetDreams">
                        </div>
                        <div class="col-6">
                            <p class="historia">SweetDreams, nuestra misión es deleitar los paladares de nuestros clientes con pays de calidad excepcional. Nos comprometemos a utilizar los ingredientes más frescos y naturales para crear pays únicos y deliciosos, que reflejen el cariño y la pasión que ponemos en cada preparación. Nuestro objetivo es ser reconocidos por la excelencia en la repostería y por brindar una experiencia de sabor inigualable a quienes prueban nuestros pays.</p>
                            <p class="historia">Nos enorgullece compartir nuestra tradición familiar con el mundo y contribuir a momentos especiales y memorables en la vida de nuestros clientes. Además, buscamos ser una empresa comprometida con la sostenibilidad y el cuidado del medio ambiente, minimizando nuestro impacto a través de prácticas responsables en el proceso de producción y distribución.</p>
                        </div>
                    </div>
                </div>
        </div>
        <div class="tab-pane fade" id="nav-vision" role="tabpanel" aria-labelledby="nav-vision-tab">
            <div class="container">
                <div class="row">
                    
                    <div class="col-6">
                        <p class="historia">Nuestra visión en SweetDreams es convertirnos en la principal marca de pays a nivel nacional, reconocidos por la calidad y originalidad de nuestros productos. Buscamos expandir nuestra presencia en diferentes regiones, llevando la magia de nuestros pays a cada rincón del país.</p>
                        <p class="historia">Aspiramos a seguir innovando y creando nuevas variedades de pays que sorprendan y deleiten a nuestros clientes, manteniendo siempre la esencia de nuestra tradición familiar. Queremos ser un referente en la industria de la repostería, inspirando a otros a explorar el mundo de los pays y descubrir la diversidad de sabores que podemos ofrecer.</p>
                        
                    </div>
                    <div class="col-6">
                        <img class="empresa" src="../../../assets/images/vision.jpg" alt="SweetDreams">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="col-1"></div>
</div>
</div>