<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-8">
            <form class="form_main" >
                <p class="heading">Actualizar Cliente</p>
                <div class="row">
                    <div class="col-6">
                        <div class="inputContainer">
                        <input [(ngModel)]="actUsuario.name" placeholder="Nombres" name="nombres" class="inputField" type="text" >
                        </div>
                        <div class="inputContainer">
                        <input [(ngModel)]="actUsuario.email" placeholder="Correo" name="correo" class="inputField" type="text" >
                        </div>
                        <div class="inputContainer">
                        <input [(ngModel)]="actCliente.celular" placeholder="Celular" name="celular" class="inputField" type="text" >
                        </div>
                        <div class="inputContainer">
                        <input [(ngModel)]="actCliente.calle" placeholder="Calle" name="calle" class="inputField" type="text" >
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="inputContainer">
                        <input [(ngModel)]="actCliente.apellidos" placeholder="Apellidos" name="apellidos" class="inputField" type="text" >
                        </div>
                            <input [(ngModel)]="actUsuario.password" placeholder="Password" name="password" class="inputField" type="password">
                        <div class="inputContainer">
                        <input [(ngModel)]="actCliente.codigoPostal" placeholder="C.P" name="cp" class="inputField" type="text" >
                        </div>
                        <div class="inputContainer">
                        <input [(ngModel)]="actCliente.colonia" placeholder="Colonia" name ="colonia" class="inputField" type="text" >
                        </div>

                    </div>
                </div>
            <button id="button" (click)="ActualizarCliente()">Actualizar</button>
            </form>
        </div>
    </div>
</div>
