<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,600&display=swap" rel="stylesheet">
<div class="row">
    <div class="col-1"></div>
    <div class="col-4 inicio">
        <h1 class="titulo">Las buenas elecciones de alimentos son buenas inversiones.</h1>
        <h4 class="subtitulo">EL LUGAR DONDE LOS SABORES SE HACEN REALIDAD</h4>
        <ul class="wrapper">
            <li class="icon facebook">
                <span class="tooltip">Facebook</span>
                <span><i class="uil uil-facebook"></i></span>
            </li>
            <li class="icon twitter">
                <span class="tooltip">Twitter</span>
                <span><i class="uil uil-twitter"></i></span>
            </li>
            <li class="icon instagram">
                <span class="tooltip">Instagram</span>
                <span><i class="uil uil-instagram-alt"></i></span>
            </li>
        </ul>
    </div>
    <div class="col-6 inicio">
        <img class="imgPastel" src="../../../../../assets/images/pastel.jpg" alt="Postre">
    </div>
    <div class="col-1">
    </div>

</div>
