<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-8">
            <h1 class="text-center"><b>RECETAS</b></h1>
    <div class="mb-3">
      <button class="btn btn-danger" (click)="openInsertWindow()">
        AGREGAR (+)
      </button>
    </div>
    <div>
      <table class="table text-center">
        <thead>
          <tr>
            <th>NOMBRE</th>
            <th>DESCRIPCIÓN</th>
            <th>DURACIÓN</th>
            <th>CREACIÓN</th>
            <th>ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of dataSource">
            <td>{{ data.receta }}</td>
            <td>{{ data.descripcion }}</td>
            <td>{{ data.duracion }}</td>
            <td>{{ data.fechaCreacion }}</td>
            <td>
              <button
                class="btn btn-warning m-1"
                (click)="openEditWindow(data)"
              >
                EDITAR
              </button>
              <button class="btn btn-info" (click)="openDetailWindow(data)">
                DETALLE
              </button>
              <button class="btn btn-danger m-1" (click)="dropRecipe(data.id)">
                ELIMINAR
              </button>
              
            </td>
          </tr>
        </tbody>
      </table>
    </div>
        </div>
    </div>
</div>