<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,600&display=swap" rel="stylesheet">
<div class="container">
<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <nav class="ubicacion">
            <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                <button class="nav-link fw-semi-bold active" id="nav-mapa-tab" data-bs-toggle="tab"
                    data-bs-target="#nav-mapa" type="button" role="tab" aria-controls="nav-mapa"
                    aria-selected="true">Ubicación</button>
                <button class="nav-link fw-semi-bold" id="nav-contact-tab" data-bs-toggle="tab"
                    data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact"
                    aria-selected="false">Contactanos</button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-mapa" role="tabpanel"
                aria-labelledby="nav-mapa-tab">
                <div class="container">
                <div class="row">
                    <div class="col-6">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1860.7790632820643!2d-101.65222667414508!3d21.130175763519237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2smx!4v1690654662498!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="col-3"></div>
                    <div class="col-3 my-4">
                        <h1 class="direccionMapa">UBICACIÓN</h1>
                        <h4 class="direccionMapa">Nos encontramos a 10 minutos del Centro Historico de León</h4>
                        <h4 class="direccionMapa">Calle: #456 Siria </h4>
                        <h4 class="direccionMapa">Colonia: Vicente Valtierra</h4>
                    </div>
                </div>
                </div>
            </div>
        
        <div class="tab-pane fade" id="nav-contact" role="tabpanel"
                aria-labelledby="nav-contact-tab">
                <div class="container">
                    <div class="row">
                        <div class="col-5">
                            <form class="form">
    
                                <div class="flex">
                                    <label>
                                        <input required="" placeholder="" type="text" class="input">
                                        <span>Nombres</span>
                                    </label>
                            
                                    <label>
                                        <input required="" placeholder="" type="text" class="input">
                                        <span>Apellidos</span>
                                    </label>
                                </div>  
                                        
                                <label>
                                    <input required="" placeholder="" type="email" class="input">
                                    <span>Correos</span>
                                </label> 
                                    
                                <label>
                                    <input required="" type="tel" placeholder="" class="input">
                                    <span>Celular</span>
                                </label>
                                <label>
                                    <textarea required="" rows="3" placeholder="" class="input01"></textarea>
                                    <span>Mensaje</span>
                                </label>
                                
                                <button class="fancy" href="#">
                                  <span class="top-key"></span>
                                  <span class="text">Enviar</span>
                                  <span class="bottom-key-1"></span>
                                  <span class="bottom-key-2"></span>
                                </button>
                            </form>
                        </div>
                        <div class="col-7">
                            <img class="empresa" src="../../../assets/images/contact.jpg" alt="SweetDreams">
                  
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </div>
    <div class="col-1"></div>
</div>
</div>