<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,600&display=swap" rel="stylesheet">

<div class="container-fluid bg-dark text-light footer mt-5 py-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-4">SweetDreams</h4>
                <p class="mb-2"><i class="uil uil-map text-danger me-3"></i>#437, Leon, Guanajuato</p>
                <p class="mb-2"><i class="uil uil-phone-volume text-danger me-3"></i>+52 345 6789</p>
                <p class="mb-2"><i class="uil uil-envelope-share text-danger me-3"></i>SweetDreams@gmail.com</p>
                
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-4">Servicios</h4>
                <a class="btn btn-link" href="">Cotizaciones Pedidos</a>
                <a class="btn btn-link" href="">Servicio a Domicilio</a>
                <a class="btn btn-link" href="">Apartado de Pedidos</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-4">¿Quieres conocer más sobre nosotros?</h4>
                <a class="btn btn-link" href="">Sobre Nosotros</a>
                <a class="btn btn-link" href="">Ubicación</a>
                <a class="btn btn-link" href="">Iniciar Sesión</a>
                <a class="btn btn-link" href="">Terms & Condition</a>
                <a class="btn btn-link" href="">Support</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-4">Preguntas</h4>
                <p>Escribe tu correo si tienes dudas </p>
                <div class="position-relative w-100">
                    <input class="form-control bg-white border-0 w-100 py-3 ps-4 pe-5" type="text"
                        placeholder="Escribe...">
                    <button type="button"
                        class="btn btn-danger py-2 position-absolute top-0 end-0 mt-2 me-2">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Copyright Start -->
<div class="container-fluid copyright py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                &copy; <a class="border-bottom" href="#">SweetDreams</a>, All Right Reserved.
            </div>
        </div>
    </div>
</div>