<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-8">
            <form class="form_main" (ngSubmit)="Agregar()">
                <p class="heading">Agregar Proveedor</p>
                <div class="row">
                    <div class="col-6">
                        <div class="inputContainer">
                            <input name="razon_social" [(ngModel)]="regProveedor.razonSocial" placeholder="Razón Social" class="inputField" type="text" >
                        </div>
                        <div class="inputContainer">
                            <input  name="rfc" [(ngModel)]="regProveedor.rfc"  placeholder="RFC" class="inputField" type="text" >
                        </div>
                        <div class="inputContainer">
                            <input  name="alias" [(ngModel)]="regProveedor.alias"  placeholder="Alias" class="inputField" type="text" >
                        </div>
                        <div class="inputContainer">
                            <input  name="correo" [(ngModel)]="regProveedor.correo"  placeholder="Correo" class="inputField" type="email" >
                        </div>
                        <div class="inputContainer">
                            <input  name="celular" [(ngModel)]="regProveedor.celular"  placeholder="Celular" class="inputField" type="text" >
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="inputContainer">
                            <input  name="ciudad" [(ngModel)]="regProveedor.ciudad"  placeholder="Ciudad" class="inputField" type="text" >
                        </div>
                        <div class="inputContainer">
                            <input  name="estado" [(ngModel)]="regProveedor.estado"  placeholder="Estado" class="inputField" type="text" >
                        </div>
                        <div class="inputContainer">
                            <input  name="codigo_postal" [(ngModel)]="regProveedor.codigoPostal"  placeholder="Codigo Postal" class="inputField" type="text" >
                        </div>
                        <div class="inputContainer">
                            <input  name="calle" [(ngModel)]="regProveedor.calle"  placeholder="Calle" class="inputField" type="text" >
                        </div>
                        <div class="inputContainer">
                            <input  name="colonia" [(ngModel)]="regProveedor.colonia"  placeholder="Colonia" class="inputField" type="text" >
                        </div>
                    </div>
                </div>
                
                
            <button id="button">Agregar</button>
            </form>
        </div>
    </div>
</div>
